<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>标签列表-micro-kid</title>
    <meta name="author" content="micro-kid" />
    <meta name="description" content="micro-kid" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/public/img/favicon.ico" />
    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="stylesheet" href="/public/css/font_1178380_6gqjvet0dwj/iconfont.css" />
    <script src="/public/js/hm.js"></script>
</head>

<body>
    <div class="main">
        <div class="main-content">
            {% include "components/header.html" %}
            <div class="tags-container">
                {% for tag in tags %}
                <a class="tag" href="/tag/{{tag}}">{{tag}}</a>
                {% endfor %}
            </div>
            {% include "components/footer.html" %}
        </div>
    </div>
</body>

</html>