<div class="site-header">
    <a href="/">
        <img class="avatar" src="/public/img/avatar.jpeg" alt="">
    </a>
    <h1 class="site-title">
        micro-kid
    </h1>
    <p class="site-description">
        Stay hungry,Stay foolish.
    </p>
    <div class="menu-container">
        <a href="/" class="menu">
            首页
        </a>
        <a href="/tags/" class="menu">
            标签
        </a>
        <a href="/archives/" class="menu">
            归档
        </a>
        <a href="/about/" class="menu">
            关于
        </a>
    </div>
    <div class="social-container">
        <a href="https://github.com/micro-kid" target="_blank" title="github">
            <i class="iconfont icon-github"></i>
        </a>
        <a href="https://twitter.com/microkid_mac" target="_blank" title="twitter">
            <i class="iconfont icon-twitter"></i>
        </a>
        <a href="https://www.zhihu.com/people/gene-21/activities" target="_blank" title="zhihu">
            <i class="iconfont icon-zhihu"></i>
        </a>
    </div>
</div>